*{
    margin:auto;
    padding:0;
    box-sizing: border-box;
}

.container{
    background-image: url(image/vegetable.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin:auto;
    height: 700px;
    background-position: center;
}

.header{
    display: flex;
    padding: 5px;
    background-color: rgba(196, 114, 6, 0.671);
    position: relative;
    height: 18;
}

.navbar{
    width: 80%;
    position: relative;
    display: flex;
}

nav{
    flex: 1; 
    float: right;
}

nav ul{
    display: flex;
    list-style-type: none;
    float: right;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 20px;
}

p{
    color:rgb(255, 255, 255);
    font-size: 25px;
}

.row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
}

.col-2{
    flex-basis: 50%;
    min-width: 75%;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 20px 20px 20px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color:rgb(74, 84, 94);
}

.btn{
    display: inline-block;
    background: rgba(196, 114, 6, 0.671);
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background:#442c2c;
}


.product{
    width: 80%;
    height: 700px;
}

.gallery{
    border: 1px solid black;
    float: left;
    width: 200px;
    margin: 5px;
}

.gallery img{
    width: 100%;
}