*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    max-width: 100%;
    margin:auto;
    padding-left: 25px;
    background-color: #563434;
    background-position: cover;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:rgb(17, 20, 19)
}
p{
    color:rgb(10, 11, 12);
}

.row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 img{
    
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color:rgb(74, 84, 94);
}

.btn{
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background:#563434;
}